.root {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: #F5F5F5;
}

.form {
  margin: auto;
  padding: 12px 24px 0 24px;
  background: #FFF;
}

.login {
  width: 300px;
}

.register {
  width: 450px;
}
