.ant-layout-body {
    min-height: 100vh;
}

.layoutContent {
    padding: 16px;
    height: calc(100vh - 64px);
    overflow-y: scroll;
}

.layoutContentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.headerContainer {
    overflow: hidden;
    align-items: center;
    height: 64px;
}

.headerContainer a {
    color: #ffffff !important;
}

.headerContainer img {
    float: left;
    width: auto;
    height: 64px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 50px;
}

.headerTabs {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: auto;
    margin: 0px;
    height: 64px;
    justify-items: center;
    font-weight: 100;
}

.headerTabs div {
    max-height: 64px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 8px;
    text-align: center;
}

.profileContainer {
    float: right;
    max-height: 64px;
    padding-left: 50px;
}
