.buttonContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 16px;
}

.createButton {
    flex: 1 1 auto;
    align-self: flex-end;
    text-align: right;
}

.modal {
    display: block;
    margin: auto;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    padding-right: 15px;
}
